.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  font-family: "Raleway", sans-serif;
  font-weight: 450;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 10px;
  text-align: right;
  font-size: 1.2rem;
  color: white;
  background-color: black;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  margin-top: 43px;
  background-color: rgb(255, 255, 255);
}

.profile-avatar, .comment-avatar {
  border-radius: 50%;
}

.profile-box {
  padding: 20px 10px 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 30px;
  border: 1px solid rgb(238, 238, 238);
  border-width: 0 0 1px 0;
}

.welcoming {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.welcoming span {
  font-weight: 600;
}

.profile-btn-box {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile-btn i {
  font-size: 0.8rem;
}

.banner {
  padding-top: 30px;
}

.banner-title {
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 1.1rem;
}

.banner-menu {
  
  :hover {
    background-color: #ccc;

  }
}

.banner-content {
  padding: 10px 0px 10px 15px;
  font-size: 0.9rem;
}

.banner-content i {
  margin-right: 10px;
}

#active-menu {
  color: white;
  background-color: rgb(73,148,236);
}

.body-title {
  padding-left: 10px;
  padding-top: 15px;
  font-weight: 600;
}

.body-title i {
  margin-right: 5px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px;
  margin-bottom: 20px;
  color: white;
}

.dash-icon {
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.dash-icon i {
  font-size: 3rem;
}

#messages-box {
  background-color: red;
}

#views-box {
  background-color: rgb(32,148,239);
}

#shares-box {
  background-color: green;
}

#users-box {
  background-color: orange;
}

.main-body {
  margin-left: 300px;
  margin-top: 43px;
  padding: 10px;
}

.body-infos {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 5fr 9fr;
  margin-bottom: 50px;
}

.body-feeds {
  display: flex;
  flex-direction: column;
}

.body-feed {
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.body-feed i {
  width: 100px;
}

.body-feed span {
  display: inline-block;
  width: 700px;
}

.white-cell {
  background-color: white;
}

.body-info-title {
  margin-bottom: 20px;

}

.body-stats {
  padding-left: 10px;
  margin-bottom: 50px;
}

.body-stats-title {
  margin-bottom: 20px;
}

.body-stat-graph {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(158, 158, 158);
}


.body-stat-graph-active {
  height: 30px;
  text-align: center;
  align-content: center;
}

#visitors-graph {
  width: 25%;
  color: white;
  background-color: rgb(103, 173, 91);
}

#users-graph {
  width: 50%;
  background-color: rgb(241, 157, 56);
}

#bounce-graph {
  width: 75%;
  color: white;
  background-color: rgb(225, 82, 65);

}

.body-countries {
  padding-left: 10px;
  margin-bottom: 50px;
}

.body-countries-title {
  margin-bottom: 10px;
}

.body-countries-table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-collapse: collapse;
}

.body-country {
  border: 1px solid rgb(204, 204, 204);
  border-collapse: collapse;
}

td {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.more-countries-btn {
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(97, 97, 97);
}

.recent-users {
  padding-left: 15px;
  margin-bottom: 50px;
}

.recent-users-title {
  margin-bottom: 10px;
}

.recent-users-table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-collapse: collapse;
}

.recent-user {
  border: 1px solid rgb(204, 204, 204);
  border-collapse: collapse;
}

.recent-user-name {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.recent-comments {
  padding-left: 15px;
  margin-bottom: 50px;
}

.recent-comments-title {
  margin-bottom: 10px;
}

.recent-comment-content {
  align-self: center;
}

.recent-comment {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 20px;
}

.comment-content-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.comment-author-name {
  margin-right: 5px;
  font-size: 1.2rem;
}

.comment-write-time {
  align-self: center;
  font-size: 0.8rem;
}

.comment-content-body {
  font-size: 0.8rem
}

.body-details {
  padding: 30px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  background-color: rgb(97, 97, 97);
}

.details-content {
  margin: 10px;
}

.details-content-colorbar {
  width: 100%;
  height: 5%;
  margin-top: 5px;
  margin-bottom: 10px;
}

#green-bar {
  background-color: green;
}

#red-bar {
  background-color: red;
}

#orange-bar {
  background-color: orange;
}

.footer {
  padding: 10px;
  background-color: rgb(241, 241, 241);
}

.w3-css-link {
  color: black;
}